/* .order-item{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    border: 1px solid tomato;
    padding: 20px;
    margin: 30px 0px;
    font-size: 14px;
    color: #505050;
}

.order-item-food, .order-item-name{
    font-weight: 600;
}

.order-item-name {
    margin-top: 30px;
    margin-bottom: 5px;
}

.order-item-address{
    margin-bottom: 10px;
}

.order-item select{
    background-color: #ffe8e4;
    border: 1px solid tomato;
    width: max(10vw, 120px);
    padding: 10px;
    outline: none;
}
@media (max-width: 1000px) {
    .order-item{
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 8px;

    }
    .order-item select{
        padding: 5px;
        font-size: 12px;

    }
    .order-item img{
        width: 40px;
    }
} */
 #topclass
 {
    margin-left:25vw;
    position: absolute;
    top:20vh;
    margin-right:5vw;
 }
.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.2fr 0.5fr 2fr 0.5fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.list-table-format.title{
    background-color: #f9f9f9;
}

.list-table-format img{
    width: 50px;
}
@media (max-width:600px) {
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .list-table-format.title{
        display: none;
    }
}
@media (max-width:400px) {
    .list-table-format{
        grid-template-columns: 1fr 3fr;
        gap: 15px;
    }
    .list-table-format.title{
        margin: 0;
        display: none;
    }
}
@media (max-width:300px) {
    .list-table-format{
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .list-table-format.title{
        margin: 0;
        display: none;
    }
}
/* new */
@media (max-width: 900px){
    .sidebar{
        width: 24vw;
    }
}
@media (max-width: 700px){
   #topclass
 {
    margin-left:2vw;
    position: absolute;
    top:25vh;
    margin-right:2vw;
 }
}
/* @media (max-width: 450px){
    .sidebar{
          width: full;
          border:0;
          height: fit-content
    }
    .sidebar-options{
         padding-top: 40px;
         flex-direction: row;
        
    }
    .sidebar-option{
    border-right: 1px solid #a9a9a9;
    border-radius: 3px 3px 3px 3px;
    }
} */
/* @media (max-width: 900px){
    .sidebar-option p{
        display: none;
        
    }
} */
 

